{
  "branches": ["main"],
  "plugins": [
    ["semantic-release-unsquash", {
      "commitAnalyzerConfig": {
        "preset": "angular",
        "releaseRules": [
          { type: 'feat!', release: 'major' },
        ],
      },
    }],
    [
      "@semantic-release/commit-analyzer",
      {
"preset": "angular",
         releaseRules": [
          { "type": "feat!", "release": "major" },
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}
